body {
  font-family: 'Coustard'
}

.jumbotron {
  font
  display: flex;
  align-items: center;
  background-image: url('https://images.pexels.com/photos/1661004/pexels-photo-1661004.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-size: cover;
  height: 500px;
  text-align: center;
  color: black;
}

.jumbotron h1 {
  font-size: 50px;
}

section row img{
  max-height: 100%
  max-width: 100%
}
